<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hiton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20621A821C9BEF3C004170E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20621A961C9BEF3D004170E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20621AA11C9BEF3E004170E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
